**Basics of Python**

In [1]:
message=input("enter your message:")
print("type of message is:",type(message))
print("your message is", message)

enter your message: hello

type of message is: <class 'str'>
your message is hello

In [2]:
print("hi","there",sep="-->")

hi-->there

**Arithmetic Operations**

In [4]:
a=int(input("enter the value of a:"))
b=int(input("enter the value for b:"))
print(f"{a}+{b} is:",(a+b))

enter the value of a: 3
enter the value for b: 4

3+4 is: 7

In [5]:
a=int(input("enter the value of a:"))
b=int(input("enter the value for b:"))
print(f"{a}-{b} is:",(a-b))

enter the value of a: 4
enter the value for b: 3

4-3 is: 1

In [6]:
a=int(input("enter the value of a:"))
b=int(input("enter the value for b:"))
print(f"{a}*{b} is:",(a*b))

enter the value of a: 2
enter the value for b: 3

2*3 is: 6

In [7]:
a=int(input("enter the value of a:"))
b=int(input("enter the value for b:"))
print(f"{a}/{b} is:",(a/b))

enter the value of a: 4
enter the value for b: 2

4/2 is: 2.0

**type conversion example**

In [8]:
a=3
b="sam"
print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [10]:
a=3
b="sam"
#str() converts specified value to a string
print(b+str(a))

sam3

In [11]:
print(b*a)

samsamsam

In [12]:
print(a**2)

9

In [13]:
print(a-1)

2

In [14]:
print(a/3)

1.0

In [15]:
print(a//3)

1

In [16]:
print(a%3)

0

**Loops**

In [18]:
#range function returns a sequence of numbers starting from 0 which is default value and increments by 1
for i in range(0,5):
    print(i)

0
1
2
3
4

In [19]:
#while loop
i=1
while i<=5:
    print(i,end=" ")
    i+=1

1 2 3 4 5

In [20]:
i=1
while True:
    print(i)
    i=i+1
    if(i>5):
        break

1
2
3
4
5

In [21]:
#for with else
n=5
for i in range(n):
    print(i)
else:
    print("for loop")

0
1
2
3
4
for loop

In [22]:
#while loop with else
counter=0
while counter<3:
    print('Inside Loop')
    counter=counter+1
else:
    print('Inside else')

Inside Loop
Inside Loop
Inside Loop
Inside else

In [23]:
#if constructs
num=10
if num>0:
    print('it is positive')
else:
    print('it is negative')

it is positive

In [24]:
#swap two numbers
x=5
y=4
x,y=y,x
print("number x=",x)
print("y=",y)

number x= 4
y= 5

In [26]:
#armstrong numbers
num=int(input("enter the number:"))
sum=0
temp=num
while temp>0:
    digit=temp%10
    sum+=digit**3
    temp//=10
if num==sum:
    print(num,"is armstrong")
else:
    print(num,"is not an armstrong")

enter the number: 153

153 is armstrong

In [27]:
#find the factorial of a number
num=int(input("enter the number: "))
fact=1
if num < 0:
  print("factorial of -ve number does not exist")
elif num==0:
  print("factorial of 0 is",fact)
else:
  for i in range(1,num+1):
    fact=fact*i
  print(fact)

enter the number:  4

24