**Checks** **the Python version**

In [12]:
!python --version

Python 3.11.13

**display the text using print method**

In [ ]:
print("Welcome to Python Programming Lab")

Welcome to Python Programming Lab

**Separator in print method-- Specifies how to separate the objects, if there is more than one**

In [ ]:
print("Hi","How are you doing?",sep="--")

Hi--How are you doing?

**end=Specify what to print at the end. Default is '\n' (line feed)**

In [ ]:
print("Hello",end="")
print("world")

Helloworld

In [ ]:
print("Hello",end=",")
print("world")

Hello,world

variables-Variables do not need to be declared with any particular type, and can even change type after they have been set.Variables are containers for storing data values.


*   A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
*  **A variable name must start with a letter or the underscore character**

*   A variable name cannot start with a number
*   **A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )**
*   Variable names are case-sensitive (age, Age and AGE are three different variables)
*   **A variable name cannot be any of the Python keywords**

List of Keywords in Python
- and
- as  
- assert  
- break  
- class
- continue  
- def  
- del  
- elif  
- else
- except  
- finally
- for
- from
- False  
- global
- if
- import
- in
- is
- lambda
- None
- not
- nonlocal
- or
- pass
- raise
- return
- try
- True
- while
-  with
- yield

In [1]:
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [ ]:
x = 3       # x is of type int
x = "python" # x is now of type str
print(x)

python

In [ ]:
myvar = "PYTHON"
my_var = "PYTHON"
_my_var = "PYTHON"
myVar = "PYTHON"
MYVAR = "PYTHON"
myvar2 = "PYTHON"

In [ ]:
#Illegal variable names:

2myvar = "PYTHON"
my-var = "PYTHON"
my var = "PYTHON"

SyntaxError: invalid decimal literal (<ipython-input-17-aa1b75d8c15e>, line 3)

**Arithmetic Operations**

In [ ]:
x=2
y=3
print(x+y)

5

In [ ]:
print(x-y)

-1

In [ ]:
print(x/y)

0.6666666666666666

In [ ]:
#divides x by y and rounds down to the nearest integer
print(x//y)
print(10/3)
print(10//3)

0
3.3333333333333335
3

**Casting:If you want to specify the data type of a variable, this can be done with casting.**

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [ ]:
int(3.555)

3

**Get the Type**
- **You can get the data type of a variable with the type() function.**

In [ ]:
x = 5
y = "AI-B"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

**Single or Double Quotes?
String variables can be declared either by using single or double quotes:**

In [ ]:
x = "awesome"
# is the same as
x = 'good'
print(x)

good

**Case-Sensitive
Variable names are case-sensitive.**

In [ ]:
a = 4
A = "list"
#A will not overwrite a

**Many Values to Multiple Variables**

In [5]:
x, y, z = "SAC", "DBMS", "SEC-IOT"
print(x)
print(y)
print(z)

SAC
DBMS
SEC-IOT

**One Value to Multiple Variables
And you can assign the same value to multiple variables in one line:**

In [ ]:
x = y = z = "PYTHON"
print(x)
print(y)
print(z)

PYTHON
PYTHON
PYTHON

**In the print() function, you output multiple variables, separated by a comma:**

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

**Built-in Data Types**
- In programming, data type is an important concept.
- Variables can store data of different types, and different types can do different things.
-Python has the following data types built-in by default, in these categories:

**Numbers**
- Integers, floating point numbers and complex numbers fall under Python numbers category.
- They are defined as int, float and complex class in Python. Integers can be of any length; it is only limited by the memory available.
- A floating point number is accurate up to 15 decimal places.
- Integer and floating points are separated by decimal points.
- 1 is an integer,
- 1.0 is floating point number.
- Complex numbers are written in the form, x + yj, where x is the real part and y is the imaginary part.

**Getting the Data Type
You can get the data type of any object by using the type() function:**

In [ ]:
x = 5
print(type(x))

<class 'int'>

In [1]:
y=5.5
print(type(y))

<class 'float'>

In [3]:
w=2+3i
print(type(w))

SyntaxError: invalid decimal literal (ipython-input-1525576340.py, line 1)

**Python uses j instead of i to represent the imaginary part.**

In [2]:
z=2+3j
print(type(z))

<class 'complex'>

**Boolean**
- **The Boolean values, True and False are treated as reserved words.**

In [4]:
is_student = True
print(type(is_student))

<class 'bool'>

In [5]:
is_emp=False
print(type(is_emp))

<class 'bool'>

**A string** consists of a sequence of one or more characters, which can include letters, numbers, and other types of characters.
- A string can also contain spaces. You can use single
quotes or double quotes to represent strings and it is also called a string literal.
- Multiline strings can be denoted using triple quotes, ''' or """.
- These are fixed values, not variables that you literally provide in your script.
- For example,
- 1. >>> s = 'This is single quote string'
- 2. >>> s = "This is double quote string"
- 3. >>> s = '''This is
                Multiline
                string'''
- 4. >>> s = "a"

In [6]:
subject_name="Statistical analytics and computing using Python"
print(type(subject_name))

<class 'str'>

In [7]:
subject_name='Statistical analytics and computing using Python'
print(type(subject_name))

<class 'str'>

In [8]:
subject_name='''Statistical analytics and computing using Python lab
              needs regorous practice '''
print(type(subject_name))

<class 'str'>

In [10]:
name="a"
print(type(name))

<class 'str'>

In [11]:
name='a'
print(type(name))

<class 'str'>

**None** is another special data type in Python.
- None is frequently used to represent the absence of a value. For example,
- 1. >>> money = None

In [9]:
marks=None
print(type(marks))

<class 'NoneType'>

- Comments
- **A comment is a text that describes what the program or a particular part of the program is trying to do and is ignored by the Python interpreter**
- In Python, **use the hash (#) symbol to start writing a comment**. Hash (#) symbol makes all text following it on the same line into a comment. For example,
- #This is single line Python comment

- Another way of doing this is to **use triple quotes, either ''' or """**. These triple quotes are generally used for multiline strings. However, they can be used as a multiline comment as well.
- For example,
'''This is
 multiline comment
 in Python using triple quotes'''

In [13]:
''' input() function is used to gather data from the user. The syntax for input function is,
variable_name = input([prompt])'''
name=input("enter ur name: ")
print("welcome", name)

enter ur name: sana
welcome sana

In [2]:
a=input("enter the value of a:")
b=input("enter the value of b:")

print(a+b)

enter the value of a: 2
enter the value of b: 3

23

In [4]:
a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))

print(a+b)

enter the value of a: 2
enter the value of b: 3

5

In [ ]:
#Print Output
'''The print() function allows a program to display text onto the console. The print function
will print everything as strings and anything that is not already a string is automatically
converted to its string representation.'''

- There are two major string formats which are used inside the print() function to display the contents onto the console as they are less error prone and results in cleaner code.
- They are
- 1. str.format()
- 2. f-strings

**str.format() method**
- Use str.format() method if you need to insert the value of a variable, expression or an object into another string and display it to the user as a single string. **The format() method returns a new string with inserted values**. The format() method works for all releases of Python 3.x.
- **The format() method uses its arguments to substitute an appropriate value for each format
code in the template**.

In [8]:
passion=input("What is your passion?")
print("{0} is my passion".format(passion))

What is your passion? cyber security

cyber security is my passion

In [10]:
#positional change of indexes of arguments
a=10
b=20
print("The values of a is {0} and b is {1}".format(a,b))
print("The values of b is {1} and a is {0}". format(a,b))

The values of a is 10 and b is 20
The values of b is 20 and a is 10

In [12]:
print("You can do the {a}".format(a="impossible"))

You can do the impossible

**A f-string is a string literal that is prefixed with “f”.**
- **These strings may contain replacement fields, which are expressions
enclosed within curly braces {}. The expressions are replaced with their values**

In [2]:
radius=int(input("enter the radius of the circle"))
area_of_circle=3.1415*radius*radius
circumference=2*3.1415*radius
print(f"the area of  circle is {area_of_circle}")
print(f"the circumference of  circle is {circumference}")

enter the radius of the circle 2

the area of  circle is 12.566
the circumference of  circle is 12.566

**Write Python Program to Convert the Given Number of Days
to a Measure of Time Given in Years, Weeks and Days. For Example,
365 Days Is Equal to 1 Year, 1 Week and 3 Days (Ignore Leap Year).**

In [10]:
number_of_days = int(input("Enter number of days"))
number_of_years = int(number_of_days/365)
'''First, number_of_days % 365 finds leftover days after removing full years.
Then divides by 7 to get whole weeks.'''
number_of_weeks = int(number_of_days % 365 / 7)
'''Finds days left after removing years and weeks.'''
remaining_number_of_days = int(number_of_days % 365 % 7)
print(f"Years = {number_of_years}, Weeks = {number_of_weeks}, Days ={remaining_number_of_days}")

Enter number of days 400

Years = 1, Weeks = 5, Days =0

**int() To explicitly convert a float number or a string to an integer, cast the number using int() function**

In [23]:
birth_year=input("enter your birth year:")
birth_year=int(birth_year)
current_year=2025
age=current_year-birth_year
print(f"you are {age} years old")

enter your birth year: 1995

you are 30 years old

**The float() function returns a floating point number constructed from a number or string.**

In [29]:
total_marks=int(input("enter total marks:"))
marks_obtained=int(input("enter the marks obtained:"))
percentage=(marks_obtained/total_marks)*100
whole_percentage=int(percentage)

print(f"Exact percentage:{percentage}%")
print(f"Whole percentage shown on report:{whole_percentage}%")

enter total marks: 500
enter the marks obtained: 360

Exact percentage:72.0%
Whole percentage shown on report:72%

**The str() function returns a string which is fairly human readable.**

In [34]:
age=25
print(" I am "+age+" years old")

TypeError: can only concatenate str (not "int") to str

In [36]:
age=25
print(" I am "+str(age)+" years old")

 I am 25 years old

**Convert an integer to a string of one character whose ASCII code is same as the integer
using chr() function. The integer value should be in the range of 0–255.**

In [39]:
num=int(input("Enter an integer between 0 and 255 "))
char=chr(num)
print(f"The ASCII character for {num} is :{char}")

Enter an integer between 0 and 255  65

The ASCII character for 65 is :A

**Use complex() function to print a complex number with the value real + imag***

In [42]:
c1=complex(3,4)
print("Complex number (real+imag):",c1)

Complex number (real+imag): (3+4j)

**If the first argument for the function is a string, it will be interpreted as a complex number and the function must be called without a second parameter.**

In [45]:
c2=complex("5+6j")
print("complex number from string:",c2)

complex number from string: (5+6j)

**If imag is omitted, it defaults to zero and the function serves as a numeric conversion function like int(), long() and float().**

In [48]:
c3=complex(7)
print("complex number with inly real part:",c3)

complex number with inly real part: (7+0j)

**If both arguments are omitted, the complex() function returns 0j.**

In [51]:
c4=complex()
print("complex number with no arguments",c4)

complex number with no arguments 0j

In [53]:
c5=complex(2.5,3.8)
print("complex number from floats:",c5)

complex number from floats: (2.5+3.8j)

**The ord() function returns an integer representing Unicode code point for the given Unicode character.**

In [60]:
ch1 = 'न'
ch2 = 'म'
ch3 = 'स'
ch4 = 'त'

print(f"{ch1} -> {ord(ch1)}")
print(f"{ch2} -> {ord(ch2)}")
print(f"{ch3} -> {ord(ch3)}")
print(f"{ch4} -> {ord(ch4)}")

न -> 2344
म -> 2350
स -> 2360
त -> 2340

In [62]:
unicode_for_integer = ord('4')
unicode_for_alphabet = ord("Z")
unicode_for_character = ord("#")
print(f"Unicode code point for integer value of 4 is {unicode_for_integer}")
print(f"Unicode code point for alphabet 'A' is {unicode_for_alphabet}")
print(f"Unicode code point for character '$' is {unicode_for_character}")

Unicode code point for integer value of 4 is 52
Unicode code point for alphabet 'A' is 90
Unicode code point for character '$' is 35

**hex() Convert an integer number (of any size) to a lowercase hexadecimal string prefixed with “0x” using hex() function.**

In [65]:
'''The id() function in Python returns the unique identity (memory address) 
of an object for the lifetime of that object.'''
id_val = id("Hello")
print(hex(id_val))  # Memory address in hex

0x1a2cb834470

In [67]:
a=1024
print(f"{a} in hexadecimal is {hex(a)}")

1024 in hexadecimal is 0x400

**oct()**
- **Convert an integer number (of any size) to an octal string prefixed with “0o” using oct() function.**
- **"0o" tells Python that it’s octal.**

In [70]:
num = 25
print(oct(num))    # Output: '0o31'

0o31

**The syntax for type() function is,
type(object)
The type() function returns the data type of the given object**

In [75]:
type(1)

int

In [77]:
print(type(6.4))

<class 'float'>

In [79]:
print(type("A"))

<class 'str'>

In [81]:
print(type(True))

<class 'bool'>

In [85]:
print(type(2+3j))

<class 'complex'>

**Python is a dynamic language as the type of the variable is determined during run-time by the interpreter. Python is also a strongly typed language as the interpreter keeps track of all the variables types. In a strongly typed language, you are simply not allowed to do anything that’s incompatible with the type of data you are working with.**

In [88]:
5+10

15

In [90]:
5+"d"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [94]:
x = 5     
print(type(x))
x = "hello"  
print(type(x))

<class 'int'>
<class 'str'>